/* General */
body {
  font-family: sans-serif;
  height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.split-pane {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: auto minmax(40%, 1fr);
  height: 100%;
}

.split-pane .node-editor {
  overflow-y: auto;
  grid-area: left;
  border: 2px solid black;
  background: white;
}

.split-pane .visual-editor {
  border: 2px solid black;
  border-left: 0px;
  grid-area: right;
}

@media (max-width: 800px) {
  .split-pane {
    grid-template-areas: "left" "right";
    grid-template-rows: auto minmax(40%, 1fr);
    grid-template-columns: auto;
  }

  .split-pane .visual-editor {
    border: 2px solid black;
    border-top: 0px;
  }
}

.pane-header {
  position: sticky;
  background: white;
  padding: 2px;
  top: 0px;
  border-bottom: 1px solid black;
}

.section:not(:last-of-type) {
  border-bottom: 1px solid #888;
  padding-bottom: 8px;
  margin-bottom: 8px;

  padding-left: 14px;
  margin-left: -14px;
  padding-right: 13px;
  margin-right: -13px;
}

.trigger {
  border-bottom: 1px solid #777;
  padding-bottom: 4px;
  margin-bottom: 2px;
}

.trigger:first-child {
  border-top: 1px solid black;
  margin-top: 4px;
  padding-top: 2px;
}

.linkback:not(:last-child)::after {
  content: ', ';
  text-decoration: none;
}

fieldset {
  margin-top: 10px;
}

@keyframes highlighted {
 0% { background-color: orange; }
 100% { background-color: inherit; }
}

.highlighted {
  animation: 1s highlighted;
}

.scroll-past-end {
  /* 50px is an empirically value */
  height: calc(100% - 50px);
}

/* Visual editor */
.visual-editor {
  --bg-x: 0px;
  --bg-y: 0px;
  user-select: none;
  touch-action: none;
  background-size: 20px 20px;
  background-position: var(--bg-x) var(--bg-y);
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}
.visual-editor .node {
  --x: 0;
  --y: 0;

  transform: translate(var(--x), var(--y));
  box-sizing: border-box;
  position: fixed;

  width: 200px;
  height: 60px;

  border: 1px solid black;
  background: white;
  /* border-radius: 15px; */

  user-select: none;
  touch-action: none;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.visual-editor .node-anchor {
  --x: 0;
  --y: 0;
  --size: 40px;

  transform: translate(
    calc(var(--x) - var(--size)/2),
    calc(var(--y) - var(--size)/2)
  );

  width: var(--size);
  height: var(--size);
  border: 2px dotted rgba(0, 0, 255, 0.2);

  position: absolute;
  user-select: none;
  touch-action: none;

  border-radius: 9999px;
}

/* Sorting */
.node-editor {
  z-index: 100;
}
.visual-editor .node {
  z-index: 1;
}
.visual-editor .node-anchor {
  z-index: 3;
}
