body {
  --background: #EEE;
  --layer-1: #CCC;
  --text: #222;

  font-family: sans-serif;

  background-color: var(--background);
  color: var(--text);
}

h1 {
  font-size: 1.2rem;
  margin: 0px;
}

h1 .version {
  font-size: 0.8rem;
  font-family: monospace;
}

.section {
  border: none;
  border-top: 2px solid var(--text);
  padding: 4px;
  margin-top: 4px;

  background-color: var(--layer-1);
}

.section.legendless {
  margin-top: 8px;
}

.section legend {
  margin-left: 12px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 1rem;
  background-color: var(--background);
  border: 2px solid var(--text);
  border-radius: 4px;
}

.subsection {
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 4px;
}

.no-skin {
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 365.8px;
}

img.skin, .no-skin {
  margin-top: 2px;
  border: 2px solid var(--text);

  max-width: 90vw;
  height: 29.5px;

  background-size: calc(100%/6) 100%;
  --col-1: var(--background);/*#FFF*/
  --col-2: var(--layer-1);/*#EEE*/

  background-image:
    linear-gradient(
      to right,
      var(--col-2) 0%,
      var(--col-2) 50%,
      var(--col-1) 50%,
      var(--col-1) 100%
    );
}

.info-icon {
  color: blue;
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  transform: translateY(-25%);
  user-select: none;
  padding-left: 2px;
}

.song-name {
  font-family: monospace;
}

.option-pairs-group {
  display: grid;
  padding: 3px 0px;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  grid-template-columns: max-content min-content;
  grid-template-rows: repeat(auto-fit, 20px);
}
.option-pairs-group > .option-pair {
  display: contents;
}

.audioeditor .option-pairs-group > .option-pair > input {
/*   border-radius: 3px; */
  padding: 3px;
  text-align: right;
}
.audioeditor  .option-pairs-group > .option-pair > select,
.audioeditor  .option-pairs-group > .option-pair > option {
  direction: rtl;
}

.audioeditor input[type=number]::-webkit-outer-spin-button,
.audioeditor input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.audioeditor input[type=number] {
    -moz-appearance:textfield;
}
