body {
  font-family: sans-serif;
  background-color: #EEE;
  color: #333;
}

h1 {
  margin: 0px;
  font-size: 16pt;
}

hr {
  border: none;
  border-bottom: 2px solid black;
}

.custom-background {
  width: 200px;
}

.extendedWarningText {
  display: inline-block;
  max-width: 400px;
  font-style: italic;
}

.songName {
  font-family: monospace;
}
